@* Strongly Typed View *@
@model List<ModelExample.Models.Product>
@{
    ViewBag.Title = "Products";
}

<h2>List Of Products</h2>
<a href="@Url.Action("Create" ,"Products")" class="btn btn-primary"><span><i class="fa-solid fa-plus fa-sm mr-1"></i></span><span>New Product</span></a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Rate</td>
                <td>
                    <a href="@Url.Action("Details", "Products" , new { @productId = product.ProductId})" class="btn btn-success"><span><i class="fa-solid fa-eye fa-sm mr-1"></i></span><span>View</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

