@model EFDbFirstApproachExample.Models.CategoriesBrandsViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>
<form action="@Url.Action("Save", "Products")" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" name="ProductName" id="productName" placeholder="Product Name" value="@Model.Product.ProductName" />
        </div>
        <div class="form-group col-md-6">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="Price" id="price" placeholder="Price" min="0" value="@Model.Product.Price" />
        </div>
        <div class="form-group col-md-6">
            <label for="dateOfPurchase">Date Of Purchase</label>
            <input type="date" class="form-control" name="DateOfPurchase" id="dateOfPurchase" value="@string.Format("{0:yyyy-MM-dd}", Model.Product.DateOfPurchase)" />
        </div>
        <div class="form-group col-md-6">
            <label for="availabilityStatus">Availability Status</label>
            <select class="form-control" name="AvailabilityStatus" id="availabilityStatus">
                @{
                    Dictionary<string, string> status = new Dictionary<string, string>()
                                                                                                    {
                       {"Please Select" , ""},
                       {"InStock" , "InStock"},
                       {"OutOfStock" , "OutOfStock"},

                    };
                    foreach (var item in status.Keys)
                    {
                        if (Model.Product.AvailabilityStatus == status[item])
                        {
                            <option value="@status[item]" selected>@item</option>
                        }
                        else
                        {
                            <option value="@status[item]">@item</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="categoryID">Category Id</label>
            <select class="form-control" name="CategoryID" id="categoryID">
                <option value="">Please Select</option>
                @foreach (var item in Model.Categories)
                {
                    if (item.CategoryID == Model.Product.CategoryID)
                    {
                        <option value="@item.CategoryID" selected>@item.CategoryName</option>
                    }
                    else
                    {
                        <option value="@item.CategoryID">@item.CategoryName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="brandID">Brand Id</label>
            <select class="form-control" name="BrandID" id="brandID">
                <option value="">Please Select</option>
                @foreach (var item in Model.Brands)
                {
                    if (item.BrandID == Model.Product.BrandID)
                    {
                        <option value="@item.BrandID" selected>@item.BrandName</option>
                    }
                    else
                    {
                        <option value="@item.BrandID">@item.BrandName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <input type="hidden" name="PhotoName" id="photoName" value="@Model.Product.PhotoName" />
            <div class="mb-3 pl-0">
                <img src="data:image;base64,@Model.Product.Photo" alt="Not Found" />
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="photo" name="Photo">
                @{
                   var photoLabel =  (Model.Product.PhotoName == null) ? "Choose file" : @Model.Product.PhotoName;
                }
                <label class="custom-file-label" for="photo">@photoLabel</label>
            </div>
        </div>
    </div>
    <div class="form-check d-flex align-items-center mb-3">
        <input class="form-check-input" type="checkbox" id="active" name="Active" value="true" @(Model.Product.Active.HasValue ? "checked=true" : "")>
        <label class="form-check-label" for="active">Active</label>
    </div>
    <input type="hidden" name="ProductID" value="@Model.Product.ProductID" />
    <div class="form-group">
        <button type="button" class="btn btn-danger" id="js-cancel">Cancel</button>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#js-cancel").click(function () {
                window.location.href = "@Url.Action("Index", "Products")";
            });

            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                $("#photoName").val(fileName);
            });
        });
    </script>
}


