<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary" id="nav-bar">
        <a class="navbar-brand" href="#">Company</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/index">Products</a>
                </li>
            </ul>
            <div class="d-none d-md-flex align-items-center">
                <p class="text-white mb-0"><span class="mr-1">@ViewBag.Message1</span><span>@ViewBag.Message2</span></p>
            </div>
        </div>
    </nav>
    <section class="container-fluid" id="content-page">
        <div class="row">
            <!-- Start Sidebar  -->
            <aside class="col-2 bg-primary sidebar">
                <ul class="list-unstyled">
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white d-block py-2 text-decoration-none position-relative">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Admin Home</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Agent Home</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Customer Home</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#aboutSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white d-block py-2 text-decoration-none position-relative">About</a>
                        <ul class="collapse list-unstyled" id="aboutSubmenu">
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">About Company</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">About Founders</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">About Team</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#contactSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white d-block py-2 text-decoration-none position-relative">Contact</a>
                        <ul class="collapse list-unstyled" id="contactSubmenu">
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Contact Marketing Team</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Contact Installation Technician</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Contact Support Team</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="text-white d-block py-2 text-decoration-none">Profile</a>
                    </li>
                    <li>
                        <a href="#" class="text-white d-block py-2 text-decoration-none">Products</a>
                    </li>
                    @RenderSection("Submenu", required: false)
                </ul>
            </aside>
            <!-- End Sidebar  -->
            <div class="col-10">
                @RenderBody()
                @RenderSection("Profile", required: false)
            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
