@model DomainModels.Product
@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>
<table class="table">
    <tbody>
        <tr>
            <th>Photo</th>
            <td>
                <img src="data:image;base64,@Model.Photo" alt="Not Found" />
            </td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>
                @Html.DisplayFor(model => model.ProductName)
            </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>
                @{
                    var price = string.Format("{0:C}", Model.Price);
                }
                @Html.DisplayFor(model => price))
            </td>
        </tr>
        <tr>
            <th>Category</th>
            <td>
                @Html.DisplayFor(model => model.Category.CategoryName)

            </td>
        </tr>
        <tr>
            <th>Brand</th>
            <td>
                @Html.DisplayFor(model => model.Brand.BrandName)
            </td>
        </tr>
    </tbody>
</table>
<a href="@Url.Action("Index", "Products")" class="text-decoration-none"><i class="fa-solid fa-arrow-left-long fa-sm mr-1"></i><span>Back To Products</span> </a>



